<section style="display: none;" class="h-card vcard">
    <ul>
        <li class="p-name fn">
            <span class="p-given-name given-name">Stefan</span> <span class="p-family-name family-name">Bocken</span>
        </li>
        <li class="p-job-title title">
            Senior Identity and Access Management Architect
        </li>
        <li class="p-role role">
            PAM Architect
        </li>
        <li>
            <ul class="p-org h-card org">
                <li>
                    <a href="{{ site.BaseURL }}" class="p-name u-url p-organization-name organization-name">{{ site.BaseURL }}</a>
                </li>
                <li>
                    <img src="/img/favicon.png" alt="Logotype for {{ site.BaseURL }}" class="u-logo logo" />
                </li>
            </ul>
        </li>
        <li>
            <a href="mailto:{{ site.Params.author.email }}" class="u-email email">{{ site.Params.author.email }}</a>
        </li>
        <li>
            <a href="{{ site.BaseURL }}" class="u-url url">{{ site.BaseURL }}</a>
        </li>
        <li class="p-note note">
            IAM Architect with a focus on privileged access.
        </li>
        <li>
            <img src="/img/stefan.jpeg" alt="Photo of {{ site.Params.author.name }}" title="{{ site.Params.author.name }}" class="u-photo photo" />
        </li>
    </ul>
</section>